body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:53px;
  background:-webkit-linear-gradient(301deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  background:-moz-linear-gradient(149deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  background:linear-gradient(149deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:612px;
  width:50px;
  height:53px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:53px;
  background:-webkit-linear-gradient(301deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  background:-moz-linear-gradient(149deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  background:linear-gradient(149deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:612px;
  width:50px;
  height:53px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:626px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u4_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u4.selected {
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:53px;
  background:-webkit-linear-gradient(301deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  background:-moz-linear-gradient(149deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  background:linear-gradient(149deg, rgba(255, 204, 102, 1) 0%, rgba(255, 204, 102, 1) 32%, rgba(255, 102, 51, 1) 71%, rgba(255, 102, 51, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:612px;
  width:50px;
  height:53px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:140px;
  width:221px;
  height:72px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:217px;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:212px;
  width:221px;
  height:246px;
  overflow:hidden;
  visibility:hidden;
}
#u10_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:246px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u10_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:72px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:217px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:221px;
  height:72px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:217px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:221px;
  height:72px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:217px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:25px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:48px;
  width:415px;
  height:30px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:25px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:168px;
  top:662px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:515px;
  height:53px;
  background-image:none;
}
#u19_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:53px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:12px;
  width:280px;
  height:29px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:14px;
  width:31px;
  height:27px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:53px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:92px;
  height:53px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:13px;
  width:126px;
  height:27px;
  font-size:24px;
  color:#FFFFFF;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u19_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:515px;
  height:53px;
  visibility:hidden;
  background-image:none;
}
#u19_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:53px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:12px;
  width:280px;
  height:29px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:14px;
  width:31px;
  height:27px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:53px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:92px;
  height:53px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:13px;
  width:126px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u19_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:515px;
  height:53px;
  visibility:hidden;
  background-image:none;
}
#u19_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 51, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:53px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:12px;
  width:280px;
  height:29px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:14px;
  width:31px;
  height:27px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:53px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:92px;
  height:53px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:13px;
  width:126px;
  height:27px;
  font-size:24px;
  color:#FFFFFF;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:679px;
  width:24px;
  height:24px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:626px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u49_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u49.selected {
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:525px;
  width:342px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:941px;
  width:457px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:48px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1048px;
  width:441px;
  height:48px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:9px;
  top:1050px;
  touch-action:none;
}
#u58_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:99px;
  height:46px;
  background-image:none;
}
#u58_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:46px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:46px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:626px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u61_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u61.selected {
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
